
.about{
    height: 40vh;
    display: grid;
    grid-template-columns: 0.5fr 2fr; /* Second column is twice as wide as the first */
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 30px 50px;
}

